{% extends "layout.html" %}

{% block title %}
HOME PAGE
{% endblock %}

{% block content %}
<h1 class=" bg-yellow-600">All Types of Chai</h1>
<div class=" grid grid-cols-4 gap-4 m-4">
{% for chai in chais%}
    <div class=" bg-blue-600 rounded p-4">
        <img class=" rounded" src="{{chai.image.url}}" alt="chai">
        <h3 class=" text-2xl font-bold">
            {{chai.name}}
        </h3>
        <a href="{% url 'chai_detail' chai.id %}">
            <button
            type = 'button'
            class=" inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2
            focus:ring-offset-2 focus:ring-orange-500" 
            >
                {{chai.types}} - {{chai.id}}
            </button>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}

